// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #FAF0E6;
$secondary : #A57F60;
$third     : #e0d9d1;
$accent    : #1A090D;
$tertiary    : #c4a789;

$dark      : #A57F60;
$dark-page : #0C1618;

$positive  : #12aa72;
$negative  : #CA054D;
$info      : #4E598C;
$warning   : #F2769D;

$low       : #add8e6;
$medium    : #ffa500;
$high      : #c62828;

$todo      : #c8e6c9;
$inprogress: #add8e6;
$done      : #4caf50;
